<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<h3>Welcome to the <%= ENV["WEBSITE_NAME"] %> App.</h3>
		</div>

		<p>
		  I wrote this application for my friend Dr. Bob, and his son, who wants to
		  learn Ruby on Rail programming. It is a rather simple nutritional planning
		  tool. 
		</p>
	</div>
</div>