<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="hidden-print alert alert-dismissable alert-<%= name.eql?('notice') ? 'success' : 'danger' %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :p, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>